{% extends 'main_template.html' %}

{% block title %} ferdos garden history{% endblock title %}

{% block main %}
    <div class="body-history">
        <div><h1 class='h1-history my-5'>معرفی باغ فردوس تهران</h1></div>
        <div class='d-flex col-12 justify-content-center  mb-5'><img src="{{media_url}}/image/places/ferdos_history/ferdos_garden.jpeg" alt="ferdos_garden1" class='col-sm-12 col-lg-10' ></div>
        <div><p class="p1-history text-justify">باغ فردوس که با نام باغ موزه فردوس، باغ معیری و موزه سینما نیز شناخته می‌شود؛ یکی از باغ‌ها و جاهای دیدنی تهران است که در محله خوش آب‌وهوای باغ فردوس در شمال این شهر قرار دارد. این باغ در سال ۱۳۸۱ به موزه سینمای ایران تبدیل شده است. قدمت این باغ به دوران قاجار و پادشاهی محمد شاه می‌رسد و از آثار ملی کشور محسوب می‌شود.</p></div>
        <div><h1 class='h1-history my-5'>معماری باغ فردوس تهران</h1></div>
        <div class='d-flex col-12 justify-content-center  mb-5'><img src="{{media_url}}/image/places/ferdos_history/ferdos_garden5.jpeg" alt="ferdos_garden2" class='col-sm-12 col-lg-10'></div>
        <div><p class="p2-history text-justify">وقتی به باغ فردوس تهران برسید و از فضای مشجر و چنارهای سرسبز ورودی باغ عبور کنید، دو مجسمه برنزی از سهروردی و ابن هیثم (از دانشمندان سرشناس ایرانی و اولین دانشمند فیزیک نور در جهان) ایران خواهید دید. بعد از آن چشمتان به عمارت زیبای باغ خواهد افتاد. عمارتی که تنها یادگار شکوه و جلال باغ‌های فردوس است و دیگر از گذشته و نقشه باغ فردوس چیزی باقی نمانده است.</p></div>
        <div><p class="p3-history text-justify">باغ فردوس ۲۰ هزار متر مربع وسعت دارد و مساحت عمارت آن هزار متر مربع است که شامل سه و نیم طبقه به عرض ۲۶ متر و به طول تقریبا ۳۴ متر است. شیب زمین این باغ از شمال غربی به جنوب شرقی است و تندی این شیب به‌گونه‌ای است که کف طبقه اول بنا با قسمت جنوبی باغ و سقف آن با قسمت شمالی باغ هم سطح است. تمامی اتاق‌ها و سالن‌های ساختمان باغ، گچ‌بری‌های بسیار زیبایی در زیر حاشیه سقف دارد که از جمله می‌توان به مقرنس‌کاری‌های گل و شاخ و برگ اشاره کرد.</p></div>
        <div><p class="p4-history text-justify">باغ فردوس در طی زمان و در هر دوره، تغییرات زیادی پیدا کرده است و بسیاری از بخش‌های آن تخریب شده و استخرهای متعدد، قنات، ساختمان و عمارت‌هایی دیگری نیز داشته است. حتی بعد از تبدیل شدن باغ فردوس به موزه سینما تغییرات جزیی مانند نورپردازی داخل و خارج عمارت، پوشاندن دیوارهای داخلی با گچ، تقسیمات داخلی با دیوارهای سبک و کف سازی در عمارت باغ صورت گرفته و ساختمان‌هایی نیز به آن اضافه شده است.</p></div>
        <div><h1 class='h1-history my-5'>باغ فردوس تهران کجاست؟</h1></div>
        <div class='d-flex col-12 justify-content-center  mb-5'><img src="{{media_url}}/image/places/ferdos_history/ferdos_garden2.jpeg" alt="ferdos_garden3" class='col-sm-12 col-lg-10'></div>
        <div><p class="p5-history text-justify">باغ موزه فردوس در شمال شهر تهران و در محله‌ای با صفا به نام باغ فردوس است. این محله قاجاری از شمال به میدان تجریش ابتدای خیابان ولیعصر، از جنوب به توتونچی، از شرق به خیابان‌ دربندی و از غرب به خیابان ولیعصر منتهی می‌شود.</p> 
    </div>

{% endblock main %}